.footer__column_content_copyright {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
    padding-top: 60px;
    padding-bottom: 40px;
  
  }